# Needs Python 2.4
[buildout]
extends =
    http://dist.plone.org/release/3.3.6/versions.cfg
    http://good-py.appspot.com/release/plone/3.3.6
find-links =
    http://dist.plone.org/release/3.3.6/
    http://dist.plone.org/thirdparty/
parts = zope2 instance py
versions = versions
develop = ..

[versions]
plone.recipe.zope2instance = 3.11
# py24 compat
Pillow = 1.7.8
setuptools = 0.6c11
simplejson = 2.1.0
zc.buildout = 1.7.1

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}
fake-zope-eggs = true
additional-fake-eggs =
    ZConfig

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = off
deprecation-warnings = off
event-log-level = INFO
z2-log-level = WARN
environment-vars =
    zope_i18n_compile_mo_files true
zope-conf-additional = locale en_US.UTF-8
eggs =
    Plone
    Pillow
    collective.jsonify
# See: http://jone.github.io/plone-hotfixes/
    Products.PloneHotfix20110531
    Products.Zope_Hotfix_20110622
    Products.PloneHotfix20110720
    Products.PloneHotfix20121106
    Products.PloneHotfix20130618
    Products.PloneHotfix20131210
zcml =
    collective.jsonify

[py]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = py
